<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>wechatServlet</servlet-name>
        <servlet-class>com.wecahtServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wechatServlet</servlet-name>
        <url-pattern>/wechat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetConfigServlet</servlet-name>
        <servlet-class>com.GetConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetConfigServlet</servlet-name>
        <url-pattern>/getConfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReturnRobotServlet</servlet-name>
        <servlet-class>com.ReturnRobotServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnRobotServlet</servlet-name>
        <url-pattern>/doReturn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>initAccessTokenServlet</servlet-name>
        <servlet-class>
            com.AccessTokenServlet
        </servlet-class>
        <init-param>
            <param-name>appid</param-name>
            <param-value>wx8cda7a6cccdecffa</param-value>
        </init-param>
        <init-param>
            <param-name>appsecret</param-name>
            <param-value>e7251fe8c5533420446d65813cd52f35</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <welcome-file-list>
        <welcome-file>returnRobot.jsp</welcome-file>
    </welcome-file-list>
</web-app>